*{
	text-align: center;
	align-items: center;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 25px 1fr 3fr 5fr;
	grid-template-areas: "motto motto" "header header" "centerhead centerhead" "content content";
}




.motto {
	font-family: "Playfair Display", "Times", serif;
	grid-area: motto;	
	align-self: center;
	height: 100%;
	font-weight: 0.2;
	border-top: 1px solid maroon;
	justify-self: center;

}	

header{
	grid-area: header;
	display: grid;
	grid-template-areas: "akf nav";
	grid-template-columns: 1fr 5fr;
	padding: 0;
	height: 100%;
	border-top: 1px solid maroon;
	border-bottom: 1px solid maroon;
	border-top-right-radius: 35%;
	border-bottom-right-radius: 35%;
}

nav{
	grid-area:nav;
	background-color: maroon;
	border: 2px solid gold;
	border-top-right-radius: 30%;
	border-bottom-right-radius: 30%;
	align-content: center;
	padding: 5px;
}

nav input {
	font-size: 20px; 	
	font-family: "Playfair Display", serif;
	margin-right: 2px;
	display: inline-block;
	width: 100px;
	min-width: 50px; 
	text-align: center;
	background-color: #FFF;
	border: 1px solid maroon;
	height: 30px;
}

nav input:hover{
	background-color: gold;
	cursor: pointer;
}

.akf {
	grid-area: akf;
	background-color: maroon;
	border-top: : 3px solid gold;
	border-left: 3px solid gold;
	border-bottom: 2px solid gold;
	border-top-right-radius: 35%;
	border-bottom-right-radius: 35%;
}

.akf img{
	width: 85px;
	height: 85px; 
	border-radius: 100%;
}

.centerhead{
	grid-area: centerhead;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
}

.centerhead section{
	height: 90%;
	width: 97%; 
	display: flex;
	justify-content: center;
	outline: 2px solid maroon;
	padding: 0;
	background-image: url("../img/contact.jpg");
	color: white;

}

.content{
	grid-area: content;
	display: grid;
	grid-template-areas: "stuinfo teachinfo"; 
	grid-template-columns: 1fr 1fr;
	height: 100%;

}
.content section{
	height: 90%;
	width: 95%;
	justify-content: center;
	outline: 2px solid maroon;
	margin: 0 auto;
}
.content h4{
	font-weight: normal;
}
.stuinfo{
	grid-area: stuinfo;
}

.teachinfo{
	grid-area: teachinfo;
}

p {
	color: black;
}

 footer {
	width: 100%;
	background-color: gold;
	padding: 10px 0px;
	font-size: 15px;
	text-decoration: none;
}
