*{
	text-align: center;
	align-items: center;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "motto motto" "header header" "centerhead centerhead" "content content";
	grid-template-rows: 25px 1fr 3fr 5fr;
	height: 100%;
}

.motto {
	font-family: "Playfair Display", "Times", serif;
	grid-area: motto;	
	align-self: center;
	height: 100%;
	font-weight: 0.2;
	border-top: 1px solid maroon;
	justify-self: center;

}	

header{
	grid-area: header;
	display: grid;
	grid-template-areas: "akf nav";
	grid-template-columns: 1fr 5fr;
	padding: 0;
	height: 100%;
	border-top: 1px solid maroon;
	border-bottom: 1px solid maroon;
	border-top-right-radius: 35%;
	border-bottom-right-radius: 35%;
}

nav{
	grid-area:nav;
	background-color: maroon;
	border: 2px solid gold;
	border-top-right-radius: 30%;
	border-bottom-right-radius: 30%;
	align-content: center;
	padding: 5px;
}

nav input {
	font-family: "Playfair Display", serif;
	font-size: 20px; 	
	margin-right: 2px;
	display: inline-block;
	width: 100px;
	height: 30px;
	min-width: 50px; 
	text-align: center;
	background-color: #FFF;
	border: 1px solid maroon;
}

nav input:hover{
	background-color: gold;      
	cursor:pointer;
}

.akf {
	grid-area: akf;
	background-color: maroon;
	border-top: : 3px solid gold;
	border-left: 3px solid gold;
	border-bottom: 2px solid gold;
	border-top-right-radius: 35%;
	border-bottom-right-radius: 35%;
}

.akf img{
	width: 85px;
	height: 85px; 
	border-radius: 100%;
}

.centerhead{
	grid-area: centerhead;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;	
}

.centerhead section{
	height: 90%;
	width: 97%; 
	display: flex;
	justify-content: center;
	outline: 2px solid maroon;
	padding: 0;
	background-image: url("../img/media.jpg");
	color: white;
}

.content{
	grid-area: content;
	display: grid;
	grid-template-areas: "siteone sitetwo" "report display" "note note"; 
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat (3, 1fr);
	height: 100%;
	background-color: white;
	font-size: 15px;
}

.content section{
	height: 90%;
	width: 95%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	outline: 2px solid maroon;
}


.content input {
	font-family: "Playfair Display", serif;
	font-size: 15px; 	
	margin-right: 2px;
	display: inline-block;
	min-width: 50px; 
	text-align: center;
	background-color: #FFF;
	border: 1px solid white;
	text-decoration: underline;
}

.content input:hover{
	background-color: lightgrey;      
	cursor:pointer;
}

.siteone{
	grid-area: siteone;
}

.sitetwo{
	grid-area: sitetwo;
}

.report{
	grid-area: report;

}

.display{
	grid-area: display;
}

.note {
	grid-area: note;
}
.note p{	
	font-weight: normal;
	font-size: 17px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
     color:maroon; 
     cursor:pointer;  
     background-color: gold;
}



p {
	color: black;
	font-size: 15px;
}

 footer {
	width: 100%;
	background-color: gold;
	padding: 10px 0px;
	font-size: 15px;
	text-decoration: none;
}
