*{
	text-align: center;
	align-items: center;
	color: maroon;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 25px 1fr 2fr 3fr;
	grid-template-areas: "motto motto" "header header" "centerhead centerhead" "stuinfo teachinfo";
}

.stuinfo{
	grid-area: stuinfo;
	align-self:start;

}

.teachinfo{
	grid-area: teachinfo;
	align-self: start;


}


.motto {
	font-family: "Playfair Display", "Times", serif;
	grid-area: motto;	
	align-self: center;
	height: 100%;
	font-weight: 0.2;
}	

header{
	grid-area: header;
	background-color: maroon;
	display: grid;
	grid-template-areas: "akf directory";
	grid-template-columns: 1fr 5fr;
	padding: 0;
	height: 100%;

}

.directory{
	grid-area:directory;
}


.directory div {
	font-size: 20px; 	
	margin-right: 2px;
	display: inline-block;
	padding: 5px;
	width: 100px;
	min-width: 50px; 
	text-align: center;
	background-color: #FFF;
}

.akf {
	grid-area: akf;
}
.akf img{
	width: 85px;
	height: 85px; 
	border-radius: 100%;

}
.centerhead{
	grid-area: centerhead;
	padding: 0;


}
a {
    color: inherit;
    text-decoration: none;
}
div a:hover {
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
     background-color: gold;
}

p {
	color: black;
}
