*{
	text-align: center;
	align-items: center;
	color: maroon;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "motto motto" "header header" "centerhead centerhead";
	grid-template-rows: 25px 1fr 2fr;
}

.motto {
	font-family: "Playfair Display", "Times", serif;
	grid-area: motto;	
	align-self: center;
	height: 100%;
	font-weight: 0.2;
}	

header{
	grid-area: header;
	background-color: maroon;
	display: grid;
	grid-template-areas: "akf directory";
	grid-template-columns: 1fr 5fr;
	padding: 0;
	height: 100%;
}

.directory{
	grid-area:directory;
}

.directory div {
	font-size: 20px; 	
	margin-right: 2px;
	display: inline-block;
	padding: 5px;
	width: 100px;
	min-width: 50px; 
	text-align: center;
	background-color: #FFF;
}

.akf {
	grid-area: akf;
}

.akf img{
	width: 85px;
	height: 85px; 
	border-radius: 100%;
}

.centerhead{
	grid-area: centerhead;
	padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

div a:hover {
     color:maroon; 
     text-decoration:none; 
     cursor:pointer;  
     background-color: gold;
}

.home:hover{
	background-color: gold
}

.about:hover{
	background-color: gold
}

.signup:hover{
	background-color: gold
}

.contact:hover{
	background-color: gold
}

.media:hover{
	background-color: gold
}

p {
	color: black;
	font-size: 15px;
}

button{
	font-size: 18px; 	
	margin-right: 2px;
	display: inline-block;
	padding: 5px;
	width: 100px;
	min-width: 50px; 
	text-align: center;
	background-color: #FFF;
}

button:hover{
	background-color: gold;
}

input{
	font-size: 18px; 	
	margin-right: 2px;
	display: inline-block;
	padding: 5px;
	width: 100px;
	min-width: 50px; 
	text-align: center;
	background-color: #FFF;
}

input:hover{
	background-color: gold;
}