*{
	
	
	text-align: center;
	align-items: center;
	color: maroon;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "header header" "section section"
}


.motto h4 {
	font-family: "Playfair Display", "Times", serif;
	position: absolute; 
	font-weight: 0.2;
	top: 0;
	left: 35%;
}	

header{
	grid-area: header;
	background-color: maroon;
	height: 100px;
	margin-top: 40px;
	display: grid;
	grid-template-areas: "akf directory";
	grid-template-columns: 1fr 5fr;
}

.directory{
	grid-area:directory;
}


.directory div {
	font-size: 20px; 	
	margin-right: 2px;
	display: inline-block;
	padding: 5px;
	width: 100px;
	min-width: 50px; 
	text-align: center;
	background-color: #FFF;
}

.akf {
	grid-area: akf;
}
.akf img{
	width: 85px;
	height: 85px; 
	border-radius: 100%;

}
section{
	grid-area: section;

}
a {
    color: inherit;
    text-decoration: none;
}
div a:hover {
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
     background-color: gold;
}

p {
	color: black;
	font-size: 15px;
}