
*{
	border: 1px solid black;
	background: #b5e7a0;
}

.grid{
	display: grid;
	width: 100%;
	grid-template: 2fr/ 2fr;
}

.directory {
	display: inline
	list-style-type: none;
}

li {
	list-style: none;
	font-size: 20px; 	
	margin-right: 20px;
}

h1{

}	

a{

}