
*{
	border: 1px solid black;
	background: #b5e7a0;
}

.grid{
	display: grid;
	background-color: red;
}
.directory {
	display: inline
	list-style-type: none;
}

li {
	list-style: none;
	font-size: 20px; 	
	margin-right: 20px;
	display: inline-block;
	background-color: gold;

}
h1{
	background-image: url("logo.jpg");
	justify-content: start;
	z-index; 1; 

}