
*{
	border: 1px solid black;
}

.grid{
	display: grid;
	grid-template: repeat(4, 1fr)/ repeat(2, 1fr);
	grid-template-areas: "one one" "two three" "two three" "four four";
}

.directory li {
	list-style: none;
	font-size: 20px; 	
	margin-right: 20px;
	display: inline-block;

}